.review-list {
    border: 10px solid rgb(34, 195, 235);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .review-list-item {
    border: solid black 1px;
  }

  .review-list-item p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }

  .review-list-item p:first-of-type {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .review-list-item p:nth-of-type(2) {
    display: flex;
    align-items: center;
    font-size: 20px;
  }

  .review-list-item p:nth-of-type(2) i {
    margin-left: 5px;
    color: gold;
  }
.review-form-box {
  height: 142px;
  border: black solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
  .review-form {
    display: flex;

  }

  .review-title {
    margin: 25px
  }

  .review-success-message {
  font-size: 30px;
  background-color: white;
  padding: 10px;
  display: inline;
  border: black solid 3px;


  }
