/* TODO Add site wide styles */
@font-face {
  font-family: beach-font;
  src: url(./Fonts/Summer\ Beach.ttf);
}

h1 {
  font-family: beach-font;
  color: #33b8d6;
}

input {
  border-style: solid;
  border-style: 1px;
}
h2 {
  font-family: inherit, sans-serif;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: #f2f2f2; */
  /* background-image: url('https://images.pexels.com/photos/10205301/pexels-photo-10205301.jpeg'); */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}


img {
  width: 500px;
}

button {
  padding: 0.4em 1em;
  border: 1px solid #000000;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #040404;
  border-radius: 25px;
}

button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #3ecaea;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
}
