/* TODO Add site wide styles */
@font-face {
  font-family: beach-font;
  src: url(./Fonts/Summer\ Beach.ttf);
}

@font-face {
  font-family: regular-font;
  src: url(./Fonts/Comfortaa-VariableFont_wght.ttf);
}
h1 {
  font-family: beach-font;
  color: #33b8d6;
}

input {
  border-style: solid;
  border-style: 1px;
}
h2 {
  font-family: inherit, sans-serif;
}

.all-form  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: #f2f2f2; */
  /* background-image: url('https://images.pexels.com/photos/10205301/pexels-photo-10205301.jpeg'); */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
.all-form-display {
  display: flex;
  flex-direction: column;
  align-items: center
}
.all-form label{
  display: flex;
  flex-direction: row;
  border-color: black;
  border: solid black 1px;
  width:300px;
  border-radius: 10pm;
  border-color: rgb(110, 220, 224);
  padding: 5px 5px;
  justify-content: space-between;
  font-family: Arial, sans-serif;
font-size: 16px;
margin-bottom: 10px;


}
.all-form label input{
  border-color: black;
  border: solid black 1px;
  width: 200px;
  border-radius: 10px;
  justify-content: space-between;
  font-family: Arial, sans-serif;
font-size: 12px;
padding: 5px;
}
.all-form  input{
border-style: hidden;
}
.all-form button {
  width: 200px;
  margin-top: 10px;
  cursor: pointer;
}


img {
  width: 500px;
  object-fit:cover;
  object-position: center;
  height: 325px
}

button {
  margin: auto 5px;
  padding: 0.4em 1em;
  border: 1px solid #000000;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #040404;
  border-radius: 25px;
}

button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #3ecaea;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
}

p {
  font-size: 18px;
  margin: 2px;
  font-family: 'Times New Roman', Times, serif
}
