
.personal-trips {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    max-height: 400px;
    flex-direction: column;
}

.booking-item-box {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.booking-item-image {
    width: 130%;
    max-width: 500px;
    margin-right: 20px;
}
.booking-info {
    width: 50%;
    margin: 40px;
    background: beige;
    padding: 40px;
    opacity: 80%;
}

li {
    list-style: none;
}
