.guest-page-trips {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.personal-trips {
    width: 70%;

}

.upcoming-trips {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    max-height: 500px;
    flex-direction: column;
  
}

.previous-trips {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    max-height: 500px;
    flex-direction: column;
}

.favorites-section {
    width: 30%
}
.favorites-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    max-height: 500px;
    flex-direction: column;
    align-items: stretch;
    margin-top: 62px;
    margin-left: 10px
}

.sticky-heading {
    position: sticky;
    top: 0;
    background-color: white; /* Add a background color if needed */
    z-index: 1; /* Make sure the sticky element appears above other elements */
  }

  /* @media (max-width: 480px) {
    .guest-page-trips {
      flex-direction: column;
    }
  
    .personal-trips {
      width: 100%;
    }
  
    .favorites-section {
      width: 100%;
      margin-top: 20px;
    }
  } */
