.HeartIconSolid {
    height: 20px;
    cursor: pointer;
    color: red
  }

  .HeartIconOutline {
    height: 20px;
    cursor: pointer;
    color: rgb(26, 220, 242)
  }

  .favorite-item-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ff0000;
  position: relative;
  /* background-color: rgb(199, 254, 252); */
  /* background-image: url('https://images.pexels.com/photos/2454516/pexels-photo-2454516.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
  background-color: rgba(220, 43, 226, 0.184);
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  background-attachment: fixed;
  z-index: 0;
  height: 340px
  }
