/* .vehicle-item-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: black solid 1px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.vehicle-item-image {
    width: 100px;
}

.vehicle-name {
    display: flex;
    flex-direction: column;
} */


.vehicle-item-box {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
    /* background-color: rgb(199, 254, 252); */
    background-image: url('https://images.pexels.com/photos/2454516/pexels-photo-2454516.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    background-attachment: fixed;
    z-index: 0;
}

.vehicle-item-image {
  width: 150%;
    max-width: 500px;
    margin-right: 20px;
  }

  .price {
    font-size: 14px;
    color: rgb(0, 0, 0);
    z-index: 2
  }
.vehicle-info {
  position: relative;
  width: 50%;
  background: #25fbff48;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 3px 5px #25fbff48;

  backdrop-filter: blur(5px);
}

.vehicle-info:before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  box-shadow: inset rgba(255, 255, 255, 0.499);
  filter: blur(10px);

}

  .vehicle-form  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: #f2f2f2; */
    /* background-image: url('https://images.pexels.com/photos/10205301/pexels-photo-10205301.jpeg'); */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
  }
  .vehicle-form-display {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .vehicle-form label{
    display: flex;
    flex-direction: row;
    border-color: black;
    border: solid black 1px;
    width:300px;
    border-radius: 10pm;
    border-color: rgb(110, 220, 224);
    padding: 5px 5px;
    justify-content: space-between;
    font-family: Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;


  }
  .vehicle-form label input{
    border-color: black;
    border: solid black 1px;
    width: 200px;
    border-radius: 10px;
    justify-content: space-between;
    font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 5px;
  }
  .vehicle-form  input{
border-style: hidden;
  }
  .vehicle-form button {
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
  }


  .vehicle-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .vehicle-info div {
    margin-bottom: 5px;
  }

  img {
    border-radius: 10px;
    border-style: double;
    border-color: white;
  }
